@import "tailwindcss";

/* 您的自定義樣式可以寫在下面 */
@layer base {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}